/* colores de home page  */
/* colores generales */
/* colores botones */
/* colores form controls */
/* colores mensaje de informacion hover */
/* colores alert success */
/* colores alert info */
/* colores alert warning */
/* colores alert danger */
/* colores del componente sidebar*/
/* colores del componente wrapper*/
/*colores de login*/
/* NO importar base/colors aqui :) */
.pre-sidebar {
  position: relative;
  margin-bottom: 76px; }

.sidebar {
  padding: 1px; }
  .sidebar .options button, .sidebar .options a {
    width: 100%;
    background-color: #007BD6;
    margin-bottom: 10px; }
    .sidebar .options button:hover, .sidebar .options a:hover {
      background-color: #006ec0; }
    .sidebar .options button.disabled, .sidebar .options form .form-controls button.disabled:hover, form .form-controls .sidebar .options button.disabled:hover, .sidebar .options a.disabled {
      opacity: 1;
      background-color: #E6E7E8; }
  .sidebar hr {
    margin-top: 18px;
    margin-bottom: 9px; }
  .sidebar .links li {
    padding: 9px 0; }
    .sidebar .links li a {
      text-decoration: none;
      color: #2fabe1; }

#hide-sidebar {
  color: #c2c2c2;
  position: absolute;
  right: 6px;
  background-color: transparent; }

.pre-wrapper {
  border-left: 1px solid #ebeced;
  position: relative;
  margin-bottom: 76px; }

.info {
  display: inline-block;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  margin: 0 6px;
  text-align: center;
  vertical-align: top;
  color: white;
  background-color: #0185ec; }
  .info i {
    padding: 6px; }

.search-box {
  display: inline-block;
  position: relative; }
  .search-box label {
    position: absolute;
    top: 8px;
    right: 6px; }
  .search-box input {
    padding: 4px 20px 4px 10px;
    border-radius: 5px;
    border: 1px solid #ccc; }

.filters {
  display: inline-block;
  height: 30px;
  margin: 0;
  vertical-align: top; }
  .filters li {
    display: inline-block; }
    .filters li .filter, .filters li #add-filter {
      background-color: white;
      border: 2px #fafafa solid;
      border-radius: 5px;
      padding: 6px 8px; }
    .filters li #add-filter {
      border: none; }

.option-table {
  display: inline-block;
  float: right; }
  .option-table #show-options {
    padding: 8px;
    background: white; }

.gms-table th {
  font-weight: bold; }
  .gms-table th:nth-last-child(2), .gms-table th:last-child {
    text-align: center; }

.gms-table tr.child td:first-child {
  padding-left: 22px; }

.extra-container {
  height: 40px; }

.edit, .status {
  color: #ccc;
  text-align: center; }

/* Switch para la tabla */
.switch {
  position: relative;
  display: inline-block;
  height: 14px;
  margin-bottom: 0;
  width: 26px; }
  .switch input {
    display: none; }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid #cccccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px; }
  .slider::before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 1px;
    bottom: 0;
    background-color: #cccccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%; }

input:checked + .slider {
  border-color: #00a859;
  background-color: #00a859; }

input:focus + .slider {
  border-color: #00a859;
  box-shadow: 0 0 1px #00a859; }

input:checked + .slider:before {
  background-color: #fcfcfc;
  -webkit-transform: translateX(10px);
  -ms-transform: translateX(10px);
  transform: translateX(10px); }

.form-container {
  padding-top: 14px; }

.alert-form {
  padding: 8px;
  margin-bottom: 10px;
  border: none;
  border-radius: 0; }

form .form-controls button {
  border: #BBBDBF 1px solid;
  background-color: #F7F7F8;
  color: #606062; }
  form .form-controls button.btn-primary {
    background-color: #0185EC;
    color: #FFFFFF; }
    form .form-controls button.btn-primary:hover {
      background-color: #006EC0;
      color: #FFFFFF;
      border: #006EC0 1px solid; }
  form .form-controls button:hover {
    background-color: #DEDEDF;
    color: #606062; }
  form .form-controls button.disabled, form .form-controls button.disabled:hover {
    opacity: 1;
    background-color: #E6E7E8;
    border: #E6E7E8 1px solid;
    color: #FFFFFF; }

label.check {
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  font-weight: normal;
  position: relative;
  padding-left: 25px;
  margin-right: 15px;
  margin-bottom: 0; }

label.check:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  position: absolute;
  left: 0;
  bottom: 1px;
  border: 1px solid #ccc;
  background-color: #fff; }

input[type=checkbox] {
  display: none; }

input[type=checkbox]:checked + label.check:before {
  background-color: #00A859;
  content: "\2713";
  font-size: 15px;
  color: #f3f3f3;
  text-align: center;
  line-height: 15px; }

.row {
  margin: 0; }
