/* colores de home page  */
/* colores generales */
/* colores botones */
/* colores form controls */
/* colores mensaje de informacion hover */
/* colores alert success */
/* colores alert info */
/* colores alert warning */
/* colores alert danger */
/* colores del componente sidebar*/
/* colores del componente wrapper*/
/*colores de login*/
.welcome-message {
  min-height: 60px; }
  .welcome-message h2 {
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 9px; }
  .welcome-message p {
    padding: 9px 4px; }

.menu-option {
  padding: 20px 0; }
  .menu-option h3 {
    font-size: 16px;
    font-weight: bold;
    padding: 14px 0; }
  .menu-option hr {
    border: 1px solid #c2c2c2; }
  .menu-option .sub-menu {
    margin: 2px 0; }
    .menu-option .sub-menu li {
      display: inline-block;
      padding: 20px 0;
      width: 33%; }
      @media only screen and (min-width: 321px) and (max-width: 755px) {
        .menu-option .sub-menu li {
          width: 49%; } }
      .menu-option .sub-menu li .icon {
        height: 60px;
        width: 60px;
        display: inline-block;
        float: left; }
        .menu-option .sub-menu li .icon img {
          width: 100%;
          height: auto; }
      .menu-option .sub-menu li a {
        color: #2d2c2c;
        float: left;
        text-decoration: none;
        padding: 22px 12px; }
        @media only screen and (min-width: 321px) and (max-width: 755px) {
          .menu-option .sub-menu li a {
            width: 100%;
            padding: 10px 0; } }
