/* colores de home page  */
/* colores generales */
/* colores botones */
/* colores form controls */
/* colores mensaje de informacion hover */
/* colores alert success */
/* colores alert info */
/* colores alert warning */
/* colores alert danger */
/* colores del componente sidebar*/
/* colores del componente wrapper*/
/*colores de login*/
.content {
  text-align: center; }

canvas {
  position: absolute;
  z-index: -1; }

.content-login {
  background: #0185ec;
  margin: 0 auto;
  margin-top: 18%;
  max-width: 300px;
  font-family: 'Titillium Web'; }
  .content-login #form-login .tooltip-alert {
    margin-top: 0px !important;
    margin: 1em auto;
    width: 84%;
    background: #F4898E;
    color: #fff;
    padding: 5px 0;
    position: relative; }
    .content-login #form-login .tooltip-alert div {
      display: inline-block; }
      .content-login #form-login .tooltip-alert div:nth-child(1) {
        width: 18%; }
      .content-login #form-login .tooltip-alert div:nth-child(2) {
        width: 80%;
        font-size: 14px;
        text-align: left; }
    .content-login #form-login .tooltip-alert:after {
      content: '';
      position: absolute;
      left: 45%;
      margin: 0 auto;
      width: 0;
      height: 0;
      border-top: solid 15px #F4898E;
      border-left: solid 15px transparent;
      border-right: solid 15px transparent; }
  .content-login #form-login input {
    margin: 0 auto;
    display: block;
    border: 1px solid #ecf0f1;
    font-weight: 100;
    padding: 10px;
    padding: 4px;
    width: 80%; }
  .content-login #form-login button {
    background: red;
    width: 84%;
    margin: 10px auto;
    padding: 10px 0;
    background: #0061AB;
    color: #fff;
    font-weight: 100; }
