@import url("//fonts.googleapis.com/css?family=Titillium+Web");
@import "//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css";
* {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote::before, blockquote::after {
  content: ''; }

q::before, q::after {
  content: ''; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus {
  outline: 0px !important;
  -webkit-appearance: none; }

/* colores de home page  */
/* colores generales */
/* colores botones */
/* colores form controls */
/* colores mensaje de informacion hover */
/* colores alert success */
/* colores alert info */
/* colores alert warning */
/* colores alert danger */
/* colores del componente sidebar*/
/* colores del componente wrapper*/
/*colores de login*/
body {
  font-family: 'Titillium Web', sans-serif; }

.alert-success {
  color: #FFFFFF;
  background-color: #70C173; }

.alert-info {
  color: #FFFFFF;
  background-color: #3E4095; }

.alert-warning {
  color: #FFFFFF;
  background-color: #FFCC29; }

.breadcrumb {
  padding: 24px 17px 18px;
  margin-bottom: 10px; }
  .breadcrumb li + li::before {
    padding: 0;
    color: #1B92EE;
    content: "/\00a0";
    font-weight: bold; }

.btn-primary {
  background-color: #007bd6;
  border: none; }

p {
  margin: 0; }

label {
  font-weight: normal; }

.pagination li a {
  padding: 6px 6px;
  border: none;
  color: #0981d6; }
  .pagination li a:hover {
    border: none;
    color: #0981d6;
    background-color: transparent; }

.pagination li.active a {
  border: none;
  color: #8e8f91;
  background-color: transparent; }
  .pagination li.active a:hover {
    border: none;
    color: #8e8f91;
    background-color: transparent; }

.pagination li.controller a {
  color: #CCC; }

.no-padding {
  padding: 0; }

header .header {
  background: #0185ec;
  height: 56px;
  margin: 0;
  vertical-align: middle; }
  header .header a {
    color: #ffffff;
    margin: 0 auto;
    text-decoration: none; }
  header .header div {
    display: inline-block;
    height: 100%;
    margin: auto; }
    header .header div.logo {
      float: left;
      font-weight: bold; }
      header .header div.logo a {
        float: left;
        font-size: 22px;
        padding: 17px; }
    header .header div.options {
      float: right; }
      header .header div.options a {
        float: right;
        font-size: 14px;
        padding: 21px; }

nav .sub-header {
  height: 56px; }
  nav .sub-header a {
    color: #1B92EE;
    float: left;
    padding: 20px 17px;
    text-decoration: none; }

.content {
  padding: 20px 28px;
  margin: 0 auto;
  max-width: 1024px; }

footer .footer {
  background: #c2c2c2;
  color: #2d2c2c;
  padding: 20px;
  text-align: center; }
  footer .footer .copy-right {
    display: inline-block; }
  footer .footer .links {
    float: right; }
    @media only screen and (min-width: 321px) and (max-width: 755px) {
      footer .footer .links {
        float: none; } }
    footer .footer .links li {
      display: inline-block; }
      footer .footer .links li a {
        text-decoration: none;
        color: #2d2c2c;
        float: right; }
