.pre-wrapper{
    border-left: 1px solid $color-border-pre-wrapper;
    position: relative;
    margin-bottom: 76px;
}
.info{
    display: inline-block;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    margin: 0 6px;
    text-align: center;
    vertical-align: top;
    color: white;
    background-color: $color-info;
    i{
        padding: 6px;
    }
}
.search-box{
    //max-width: 172px;
    display: inline-block;
    position: relative;
    label{
        position: absolute;
        top: 8px;
        right: 6px;
    }
    input{
        padding: 4px 20px 4px 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }
}
.filters{
    display: inline-block;
    height: 30px;
    margin: 0;
    vertical-align: top;
    li{
        display: inline-block;
        .filter{
            background-color: white;
            border: 2px #fafafa solid;
            border-radius: 5px;
            padding: 6px 8px;
        }
        #add-filter{
            @extend .filter;
            border: none;
        }
    }
}
.option-table{
    display: inline-block;
    float: right;
    #show-options{
        padding: 8px;
        background: white;
    }
}

.gms-table{
    th{
        font-weight: bold;
        &:nth-last-child(2), &:last-child {
          text-align: center;
        }
    }
    tr.child{
        td:first-child{
            padding-left: 22px;
        }
    }
}

.extra-container{
    height: 40px;
}

.edit, .status{
    color: #ccc;
    text-align: center;
}

/* Switch para la tabla */
.switch {
    position: relative;
    display: inline-block;
    height: 14px;
    margin-bottom: 0;
    width: 26px;
    input {
        display:none;
    }
}
.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid $background-slider-before;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
    &::before{
        position: absolute;
        content: "";
        height: 10px;
        width: 10px;
        left: 1px;
        bottom: 0;
        background-color: $background-slider-before;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 50%;
    }
}
input:checked + .slider {
    border-color: $color-slider-active;
    background-color: $color-slider-active;
}

input:focus + .slider {
    border-color: $color-slider-active;
    box-shadow: 0 0 1px $color-slider-active;
}

input:checked + .slider:before {
    background-color: $background-slider-before-active;
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
}

.form-container{
  padding-top: 14px;
}

.alert-form{
  padding: 8px;
  // margin-bottom: 0;
  margin-bottom: 10px;
  border: none;
  border-radius: 0;
}
form .form-controls button {
  border: $border-fc-button;
  background-color: $background-fc-button;
  color: $color-fc-button;
  &.btn-primary{
    background-color: #0185EC;
    color: $color-fc-button-primary;
    &:hover{
      background-color: $background-fc-button-primary-hover;
      color: $color-fc-button-primary;
      border: $border-fc-button-primary-hover;
    }
  }
  &:hover{
    background-color: #DEDEDF;
    color: #606062;
  }
  &.disabled{
    opacity: 1;
    background-color: $background-fc-button-disabled;
    border: $border-fc-button-disabled;
    color: $color-fc-button-disabled;
    &:hover{
      @extend .disabled;
    }
  }
}

label.check {
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  font-weight: normal;
  position: relative;
  padding-left: 25px;
  margin-right: 15px;
  margin-bottom: 0;
}
label.check:before {
  content:"";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  position: absolute;
  left: 0;
  bottom: 1px;
  border: 1px solid #ccc;
  background-color: #fff;
}
input[type=checkbox] {
  display: none;
}
input[type=checkbox]:checked + label.check:before {
  background-color: #00A859;
  content:"\2713";
  font-size: 15px;
  color: #f3f3f3;
  text-align: center;
  line-height: 15px;
}
