/* NO importar base/colors aqui :) */
.pre-sidebar{
    position: relative;
    margin-bottom: 76px;
}

.sidebar{
    padding: 1px;
    .options {
        button,a {
            width: 100%;
            background-color: $background-button-default;
            &:hover {
              background-color: $background-button-hover;
            }
            &.disabled {
              opacity: 1;
              background-color: $background-button-disabled;
          }
            margin-bottom: 10px;
        }
    }
    hr {
        margin-top: 18px;
        margin-bottom: 9px;
    }
    .links{
        li{
            padding: 9px 0;
            a {
                text-decoration: none;
                color: $color-link-sidebar;
            }
        }
    }
}

#hide-sidebar{
    color: $color-hide-sidebar;
    position: absolute;
    right: 6px;
    background-color: transparent;
}
