footer {
    .footer {
        background: $background-footer;
        color: $color-footer;
        padding: 20px;
        text-align: center;
        .copy-right {
            display: inline-block;
        }
        .links{
            float: right;
            @include respond-to(medium-screens) { float: none; }
            li{
                display: inline-block;
                a{
                    text-decoration: none;
                    color: $color-footer;
                    float: right;
                }
            }
        }
    }
}
