$height-header: 56px;

header {
    .header {
        background: $background-header;
        height: $height-header;
        margin: 0;
        vertical-align: middle;
        a {
            color: $color-header;
            margin: 0 auto;
            text-decoration: none;
        }
        div {
            display: inline-block;
            height: 100%;
            margin: auto;
            &.logo {
                float: left;
                font-weight: bold;
                a {
                    float: left;
                    font-size: 22px;
                    padding: 17px;
                }
            }
            &.options {
                float: right;
                a {
                    float: right;
                    font-size: 14px;
                    padding: 21px;
                }
            }
        }
    }
}
nav {
    .sub-header{
        height: $height-header;
        a{
            color: $color-link;
            float: left;
            padding: 20px 17px;
            text-decoration: none;
        }
    }
}
