/* colores de home page  */
$background-header: #0185ec;
$color-header: #ffffff;
$background-footer: #c2c2c2;
$color-footer: #2d2c2c;

/* colores generales */
$color-link: #1B92EE;
$color-breadcrumb: $color-link;
$background-btn-primary: #fff;
$color-btn-primary: #fff;
$color-hr-menu: #c2c2c2;
$color-sub-menu: #2d2c2c;
$color-default-white: #fcfcfc;

/* colores botones */
$color-button: #FFFFFF;
$background-button-default: #007BD6;
$background-button-hover: #006ec0;
$background-button-disabled: #E6E7E8;

/* colores form controls */
$background-fc-button-primary: #0185EC;
$color-fc-button-primary: #FFFFFF;
$border-fc-button-primary-hover: #006EC0 1px solid;
$background-fc-button-primary-hover: #006EC0;
$border-fc-button: #BBBDBF 1px solid;
$background-fc-button: #F7F7F8;
$color-fc-button: #606062;
$background-fc-button-hover: #DEDEDF;
$color-fc-button-hover: #606062;
$border-fc-button-disabled: #E6E7E8 1px solid;
$background-fc-button-disabled: #E6E7E8;
$color-fc-button-disabled: #FFFFFF;


/* colores mensaje de informacion hover */
$color-imessage-text: #606062;
$background-imessage: #E1F3FB;

/* colores alert success */
$color-alert-success-text: #FFFFFF;
$background-alert-success: #70C173;

/* colores alert info */
$color-alert-info-text: #FFFFFF;
$background-alert-info: #3E4095;

/* colores alert warning */
$color-alert-warning-text: #FFFFFF;
$background-alert-warning: #FFCC29;

/* colores alert danger */
$color-alert-danger-text: #FFFFFF;
$background-alert-danger: #F4898E;

/* colores del componente sidebar*/
$background-btn-primary: #007bd6;
$color-link-sidebar: #2fabe1;
$color-hide-sidebar: $color-hr-menu;

/* colores del componente wrapper*/
$color-border-pre-wrapper: #ebeced;
$color-info: #0185ec;
$background-slider-before: #cccccc;
$background-slider-before-active: $color-default-white;
$color-slider-active: #00a859;
$color-paginator: #0981d6;

/*colores de login*/

$color-border: #ecf0f1;
$background-button: #0061AB;
$color-white: #fff;
$background-tooltip: #F4898E;
