@import '../util/media';
@import '../base/colors';

.welcome-message {
    min-height: 60px;
    h2 {
        font-size: 22px;
        font-weight: bold;
        padding-bottom: 9px;
    }
    p {
        padding: 9px 4px;
    }
}
.menu-option {
    padding: 20px 0;
    h3 {
        font-size: 16px;
        font-weight: bold;
        padding: 14px 0;
    }
    hr {
        border: 1px solid $color-hr-menu;
    }
    .sub-menu {
        margin: 2px 0;
        li {
            display: inline-block;
            padding: 20px 0;
            width: ((100% - 1) / 3);
            @include respond-to(medium-screens) {
                width: 49%;
            }
            .icon {
                height: 60px;
                width: 60px;
                display: inline-block;
                float: left;

                img {
                    width: 100%;
                    height: auto;
                }
            }
            a {
                color: $color-sub-menu;
                float: left;
                text-decoration: none;
                padding: 22px 12px;
                @include respond-to(medium-screens) {
                    width: 100%;
                    padding: 10px 0;
                }
            }
        }
    }
}
