@import '../base/colors';
.content{
    text-align: center;
}
canvas{
    position: absolute;
    z-index: -1;
}
.content-login{
    background:$background-header;
    margin: 0 auto;
    margin-top: 18%;
    max-width: 300px;
    font-family: 'Titillium Web';
    #form-login{
        .tooltip-alert{
            margin-top: 0px !important;
            margin: 1em auto;
            width: 84%;
            background: $background-tooltip;
            color:$color-white;
            padding: 5px 0;
            position: relative;
            div{
                display: inline-block;
                &:nth-child(1){
                    width: 18%
                }
                &:nth-child(2){
                    width: 80%;
                    font-size: 14px;
                    text-align: left;
                }
            }
            &:after{
                content: '';
                position: absolute;
                left: 45%;
                margin: 0 auto;
                width: 0;
                height: 0;
                border-top: solid 15px #F4898E;
                border-left: solid 15px transparent;
                border-right: solid 15px transparent;
            }
        }
        input{
            margin: 0 auto;
            display: block;
            border: 1px solid $color-border;
            font-weight: 100;
            padding: 10px;
            padding: 4px;
            width: 80%;
        }
        button{
            background: red;
            width: 84%;
            margin: 10px auto;
            padding: 10px 0;
            background: $background-button;
            color: $color-white;
            font-weight: 100;
        }
    }
}
